html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #a9b1bd;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.containter {
  width: 100%;

  @include media-breakpoint('mobile-small') {
    padding: 0 10px;
  }
}

.main-header,
.main {
  width: 100%;
}

.main-header {
  display: flex;
  align-items: center;
  margin: 35px 0 35px 140px;

  &__logo {
    height: 70px;
    margin-right: 80px;

    @include media-breakpoint('mobile-small') {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
  @include media-breakpoint('mobile') {
    margin-left: 0;
  }
  @include media-breakpoint('mobile-small') {
    flex-direction: column;
    margin: 20px 0;
  }
}

.tabs {
  &__buttons {
    border-top: 1px solid $c-l-gray-observe;
    display: flex;
    align-items: center;
    height: 84px;
    padding-left: 140px;

    @include media-breakpoint('mobile-small') {
      align-items: center;
      justify-content: space-evenly;
      padding-left: 0;
    }
  }
  &__button {
    &:nth-child(1) {
      margin-right: 80px;

      @include media-breakpoint('mobile-small') {
        margin-right: 0;
      }
    }
    &.active {
      color: $c-blue;
      border-bottom: 3px solid $c-blue;
      margin-bottom: -2px;
    }
  }
}

.error {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;

  &__message {
  }

  &__link {
    color: $c-blue;
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid $c-blue;
      margin-bottom: -2px;
    }
  }
}
