$range-mobile: max-width;
$range-desktop: min-width;

$breakpoints: (
  'mobile-small': $mobile-s-breakpoint,
  'mobile': $mobile-breakpoint,
  'desktop': $desktop-breakpoint,
) !default;

@mixin media-breakpoint($breakpoint) {
  $range: '';

  @if $breakpoint == mobile {
    $range: $range-mobile;
  } @else if $breakpoint == mobile-small {
    $range: $range-mobile;
  } @else {
    $range: $range-desktop;
  }

  @if map-has-key($breakpoints, $breakpoint) {
    @media ($range: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        +"Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

//Usage:
// @include media-breakpoint('mobile-small') {...}
// @include media-breakpoint('mobile') {...}
// @include media-breakpoint('desktop') {...}
