//colors
$c-white: #ffffff;
$c-gray: #a9b1bd;
$c-l-gray-observe: #e5eaf4;
$c-l-gray-reverse: #a9b1bd;
$c-l-gray: #f3f3f3;
$c-l-dark: #444444;
$c-blue: #11b0c8;

//layout
$mobile-s-breakpoint: 719px;
$mobile-breakpoint: 1023px;
$desktop-breakpoint: 1204px;

$desktop-margin: 20px;
$mobile-margin: 18px;
$mobile-offset: 15px;
